<!-- Navigeringsmeny -->
<nav class="nav-menu" id="nav-menu">
    <!-- Stäng kanpp -->
    <button class="menu-btn close" id="close-menu">
        <span class="menu-icon">
            <span class="bars cross1"></span>
            <span class="bars cross2"></span>
        </span>
        <span class="menu-text">Stäng Meny</span>
    </button>

    <ul class="navlist">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Startsida</NavLink>
        </li>
        
        <li>
            <NavLink href="schedule">Ramschema</NavLink>
        </li>
    </ul>
</nav>